<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    <P style="color:#ff367f">♥<%= book.favorites.count %></P>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book), method: :post, remote: true do %>
    <P style="color:#2c7cff">♥<%= book.favorites.count %></P>
  <% end %>
<% end %>